[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/chorman0773/llvm-project.git
[submodule "65816-c"]
	path = 65816-c
	url = https://github.com/WorldsApartDevTeam/65816-c
[submodule "qc"]
	path = qc
	url = https://github.com/chorman0773/qc.git
[submodule "SNES-Dev-Utils"]
	path = SNES-Dev-Utils
	url = https://github.com/chorman0773/SNES-Dev-Utils.git
[submodule "py-snes"]
	path = py-snes
	url = https://github.com/WorldsApartDevTeam/py-snes.git
